/* **************************** */
/* LAYOUTS */
/* **************************** */

body {
    display: flex;
    justify-content: center;
}

// BANNER_VIDEO
.container {
    width: 1366px;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    // VIDEO de fondo
    video {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .navegar {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
        padding: 40px;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // Logotipo
        img {
            width: 80px;
        }
        // Menu
        .menu{
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}
